/* CSS Reset */
/* 1. Use a more intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding */
html,
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* 3. Allow percentage-based heights in the application */
html, body {
  height: 100%;
}

/* 4. Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* 5. Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* 6. Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* 7. A more accessible focus outline */
:focus-visible {
  outline: 3px solid blue;
  outline-offset: 3px;
}

/* 8. Make images and media easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 9. Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* 10. Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}